{% extends 'base.html' %} {% block head %}
<title>Dashboard</title>
<style>
  body {
    background-color: #303239;
  }

  body {
    font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
    background: #121212;
    color: #e0e0e0;
    padding: 40px;
  }

  h2 {
    text-align: center;
    margin-bottom: 20px;
    color: #ffffff;
  }

  table {
    width: 100%;
    border-collapse: collapse;
    background: #1e1e1e;
    border-radius: 8px;
    overflow: hidden;
    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.6);
  }

  thead {
    background: #272727;
  }

  thead th {
    color: #ffffff;
    text-transform: uppercase;
    font-size: 14px;
    padding: 12px;
    border-bottom: 2px solid #333;
  }

  tbody td {
    padding: 12px;
    text-align: center;
    border-bottom: 1px solid #333;
  }

  tbody tr:hover {
    background: #2a2a2a;
    transition: 0.3s;
  }

  tbody tr:last-child td {
    border-bottom: none;
  }
</style>

{% endblock head %} {% block body %}

<h2>Student</h2>
<table>
  <thead>
    <tr>
      <th>Name</th>
      <th>Email</th>
      <th>Grade</th>
      <th>Age</th>
    </tr>
  </thead>
  <tbody>
    {% for s in students %}

    <tr>
      <td>{{s.name}}</td>
      <td>{{s.age}}</td>
      <td>{{s.email}}</td>
      <td>{{s.dept}}</td>
    </tr>
    {% endfor %}
  </tbody>
</table>

<h2>Teacher</h2>
<table>
  <thead>
    <tr>
      <th>Name</th>
      <th>Email</th>
      <th>Grade</th>
      <th>Age</th>
    </tr>
  </thead>
  <tbody>
    {% for t in teachers %}

    <tr>
      <td>{{t.name}}</td>
      <td>{{t.age}}</td>
      <td>{{t.email}}</td>
      <td>{{t.dept}}</td>
    </tr>
    {% endfor %}
  </tbody>
</table>

<h2>Employee</h2>
<table>
  <thead>
    <tr>
      <th>Name</th>
      <th>Salary</th>
      <th>Email</th>
      <th>Age</th>
    </tr>
  </thead>
  <tbody>
    {% for e in employees %}

    <tr>
      <td>{{e.name}}</td>
      <td>{{e.salary}}</td>
      <td>{{e.email}}</td>
      <td>{{e.dept}}</td>
    </tr>
    {% endfor %}
  </tbody>
</table>

{% endblock body %}
